@import '_common.scss';
@mixin transform() {
    transform: translateY(0);
    opacity: 1;
}
//loading 화면 -----------------------------------------
#load{
    width: 100%; height: 100vh;
    background-color: rgba(63, 63, 63, 0.507);
    p:nth-of-type(1){
        width: 30%; height: 70vh;
        margin: 0 auto;
        position: absolute;
        left: calc(50% - 15%); top: 7%;
        img{width: 100%; height: 100%;}
    }
    p:nth-of-type(2){
        width: 20%; height: 25vh;
        margin: 0 auto;
        position: absolute;
        left: calc(50% - 10%); bottom: 7%;
        img{width: 100%; height: 100%;}
    }
    p:nth-of-type(3){
        width: 20%; height: 20vh;
        margin: 0 auto;
        position: absolute;
        left: 10%; bottom: 30%;
        img{width: 100%; height: 100%;}
    }
    p:nth-of-type(4){
        width: 20%; height: 20vh;
        margin: 0 auto;
        position: absolute;
        right: 10%; bottom: 30%;
        img{width: 100%; height: 100%;}
    }
}
#load.active{display: none;}
.indexAll{
    display: none;
}
.indexAll.active{
    display: block;
}
//loading 화면 -----------------------------------------
//main1
.main1{
    position: relative;
    width: 100%; height: 100vh;
    // background: url('../img/background/main_img1.jpg') no-repeat 100%;
    overflow: hidden;
    .background{
         position: absolute;
         left: 0; top: 0;
         width: 100%; height: 100vh;
        .bg1{
            display: none;
            //배경1에 active 들어갔을 때 animation 적용
            &.active{
                display: block;
                animation: bg1 5s forwards;
            }
            @keyframes bg1{
                0%{transform: scale(1.2); opacity: 0.7;}
                1%{opacity: 0.8;}
                10%{opacity: 1;}
                100%{transform: scale(1); opacity: 1;}
            }
        }
        .bg2{
            display: none;
            //배경2에 active 들어갔을 때 animation 적용
            &.active{
                display: block;
                animation: bg2 5s forwards;
            }
            @keyframes bg2{
                0%{transform: scale(1.2); opacity: 0.7;}
                1%{opacity: 0.8;}
                10%{opacity: 1;}
                100%{transform: scale(1); opacity: 1;}
            }
        }
    }
    .back_button{
        position: absolute;
        right: 0; bottom: 10%;
        width: 15%;
        transform: rotate(90deg);
        //공통버튼
        li{
            width: 50%;
            color: #fff;
            margin: 15%;
            cursor: pointer;
            border: 0.1px solid #7f8894b0;
            overflow: hidden;
        }
        //버튼1
        .btn1{
            em{
                display: block;
                font-style: normal;
                font-size: 1.2rem;
                padding: 1% 2%;
                position: absolute;
                right: 90%; bottom: 3vh;
                z-index: 2;
            }
        }
        .btn1::before{
            content: '';
            display: block;
            height: 1px; width: 100%;
            background-color: #fff;
            transform: translateX(-110%);

        }
        .btn1.active::before{
            animation: btn1 5s forwards;
        }
        @keyframes btn1{
            0%{transform: translateX(-110%);}
            100%{transform: translateX(0);}
        }
        //버튼2
        .btn2{
            em{
                display: block;
                font-style: normal;
                font-size: 1.2rem;
                padding: 1% 2%;
                position: absolute;
                right: 90%; bottom: 8vh;
                z-index: 2;
            }
        }
        .btn2::before{
            content: '';
            display: block;
            height: 1px; width: 100%;
            background-color: #fff;
            transform: translateX(-110%);
        }
        .btn2.active::before{
            animation: btn2 5s forwards;
        }
        @keyframes btn2{
            0%{transform: translateX(-110%);}
            100%{transform: translateX(0);}
        }
    }
    .main1_text{
        color: #fff;
        position: absolute;
        left: 10%; bottom: 15%;
        overflow: hidden;
        div{
            overflow: hidden;
            h2{
                font-size: 4.5rem;
                font-weight: normal;
                transform: translateY(100px);
                transition: 1s;
                opacity: 0;
                &.show{
                    @include transform();
                }
            }
        }
        p{
            font-size: 1.2rem;
            transform: translateY(200px);
            transition: 1.5s;
            opacity: 0;
            &.show{
                @include transform();
            }
        }
    }
    .main1_popup{
        position: absolute;
        right: 0; top: 0;
        background-color: #af0030;
        width: 30%; height: 55vh;
        transform: translateX(100%);
        transition: 1s;
        &.show{
            transform: translateX(0);
        }
        .popup_box{
            margin: 30% auto 0;
            text-align: center;
            width: 80%;
            .search_box{
                display: block;
                width: 30px; height: 30px;
                margin-bottom: 10%;
                background: url('../img/icon/icon_search.png') no-repeat;
                background-size: 100% auto;
            }
            .popup1{
                color: #fff;
                display: flex;
                flex-direction: column;   
                align-items: flex-start;             
                strong{font-size: 1.5rem; font-weight: normal; margin-bottom: 2%;}
                .input_box{
                    margin-bottom: 5%;
                    position: relative;
                    width: 100%;
                    .input_text{
                        width: 100%;
                        background: none;
                        border-width: 0 0 1px 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                        color: #fff;
                        caret-color: #fff;
                        padding: 1% 0;
                    }
                    .input_text::placeholder{color: rgba(255, 255, 255, 0.3);}
                    .input_text:focus{outline: none;}
                    .input_submit{
                        position: absolute;
                        right: 0; top: 0;
                        background: none; border: none; 
                        cursor: pointer;
                        width: 25px;
                        background: url('../img/icon/icon_enter.png') no-repeat;
                    }
                }
            }
            .popup1:nth-of-type(1){margin-bottom: 10%;}
        }
    }
}

//main2
.main2{
    width: 100%; height: 100vh;
    position: relative;
    .prd{
        margin-top: 5%;
        h2{font-size: 3.5rem; width: 80%; margin: 0 auto; padding-bottom: 2%;}
        .prd_box{
            width: 90%; height: 60vh;
            background: #f5f5f5;
            position: relative;
            transform: translateX(-100%);
            transition: 1.5s;
            span{
                display: block;
                position: absolute;
                left: calc(50% - 22.5%); top: 0;
                opacity: 0;
                width: 45%; height: 60vh;
                transform: translateX(-100%);
                transition: .5s;
                img{width: 100%; height: 100%;}
            }
            //active 들어갔을때
            span.active{
                opacity: 1;
                transform: translateX(0);
            }
            &.move{
                transform: translateX(0);
            }
        }
        .prd_popup{
            position: absolute;
            right: 2%; top: -2%;
            background-color: #2f3749;
            width: 21%; padding: 3% 2%;
            transform: translate(-100px,100px);
            transition: 1s;
            &.move{
                transform: translate(0,0);
            }
            .prd_popup_all{
                
                .prd_popup_info{
                    color: #697287;
                    h3{font-size: 1.1rem; cursor: pointer;}
                    p{
                        display: none;
                        transition: .5s;
                    }
                }
                //active 들어갔을 때
                .prd_popup_info.active{
                    color: #fff;
                    h3{font-size: 1.4rem;}
                    p{
                        display: block;
                        line-height: 1.7rem;
                        font-weight: 300;
                        width: 95%;
                        animation: prdPopup 1s forwards;
                    }
                    @keyframes prdPopup{
                        0%{transform: translateY(-50px); opacity: 0;}
                        100%{transform: translateY(0); opacity: 1;}
                    }
                }
                .prd_popup_info:nth-of-type(1):before{display: none;}
                .prd_popup_info::before{
                    content: '';
                    display: block;
                    height: 1px;
                    background-color: #697287;
                    margin: 5% 0;
                }
            }
        }
        .prd_bottom{
            margin-top: 3%;
            text-align: center;
            a{
                margin: 0 0.5%;
                display: inline-block;
                font-size: 1.5rem;
                font-weight: bold;
                border: 2px solid #e1e1e1;
                border-radius: 10px;
                padding: 1.5% 5%;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
            a:hover{
                background-color: #af0030;
                color: #fff;
                border-color: #af0030;
            }
        }
    }
}
//main3
.main3{
    width: 100%;
    margin-bottom: 10%;
    overflow: hidden;
    h2{
        position: relative;
        font-size: 13rem;
        color: #e5e5e5;
        padding-left: 1%;
        transform: translate(35%,50%);
        z-index: 1;
    }
    .main3_flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2f2f2f;
        overflow: hidden;
        .main3_left{
            width: 50%;
            position: relative;
            span{
                width: 50%;
                position: absolute;
                right: 0; top: -45%;
                display: block;
                img{
                    width: 100%;
                }
            }
            .main3_text{
                position: relative;
                color: #fff;
                width: 72%; margin: 0 auto;
                padding: 35% 0 0 5%;
                p{line-height: 1.7rem;}
                a{
                    width: 20%;
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    margin-top: 15%;
                    .arr{
                        width: 30%;
                        display: block;
                        position: absolute;
                        left: 0; top: 0;
                        z-index: 2;
                        img{width: 100%;}
                    }
                    .circle{
                        display: block;
                        position: absolute;
                        left: 12%; top: -1.7vh;
                        width: 2vw; height: 4vh;
                        border: 1px solid #af0030;  
                        border-radius: 100%;
                        transition: .4s ease-in-out;
                    }
                    &:hover .circle{
                        background-color: #af0030;
                    }
                }
            }
        }
        .main3_right{
            width: 50%;
            transform: translateY(-100%);
            transition: 2s;
            opacity: 0;
            &.show{
                @include transform();
            }
            img{width: 100%;}
        }
    }
    .main3_video_bg{
        width: 100%; height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        position: fixed;
        left: 0; top: 0;
        display: none;
        &.active{
            display: block;
        }
        .main3_video1{
            border: 2px solid #000;
            background-color: #000;
            border-radius: 20px;
            overflow: hidden;
            width: 30%;
            position: fixed;
            right: 10%; top: 20%;
            transform: translate(-150%,150%);
            opacity: 0;
            transition: 1s;
            video{width: 100%;}
        }
        .main3_video2{
            border: 2px solid #000;
            background-color: #000;
            border-radius: 20px;
            overflow: hidden;
            width: 30%;
            position: fixed;
            left: 10%; top: 20%;
            transform: translate(150%,150%);
            opacity: 0;
            transition: 1s;
            video{width: 100%;}
        }
        .main3_video1.active{
            transform: translate(0);
            opacity: 1;
        }
        .main3_video2.active{
            transform: translate(0);
            opacity: 1;
        }
    }
}
//main4
.main4{
    .sup{
        margin: 4% 0 10%;
        h2{
            font-size: 3.5rem;
            margin: 3% 9%;
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 80%;
            margin: 0 auto;
            li{
                width: 100%;
                position: relative;
                overflow: hidden;
                transition: 1.5s;
                opacity: 0;
                span{
                    display: inline-block;
                    transition: 1s;
                    img{width: 100%;}
                }
                span::before{
                    position: absolute;
                    left: 0; top: 0;
                    content: '';
                    display: block;
                    width: 100%; height: 100%;
                    background-color: rgba(0,0,0,0.4);
                    transition: 1s;
                }
                span:hover::before{
                    background-color: rgba(0,0,0,0);
                }
                &:hover span{
                    transform: scale(1.1);
                }
                p{
                    position: absolute;
                    left: 15%; bottom: 5%;
                    color: #fff;
                    font-size: 1.7rem;
                    font-weight: bold;
                    z-index: 2;
                }
                &:nth-of-type(1),&:nth-of-type(3){
                    transform: translateY(20%);
                }
                &:nth-of-type(2){
                    transform: translateY(-20%);
                }
            } 
            &.move li{@include transform();}
        }
    }
}
//main5
.main5{
    background-color: #0d2b54;
    .con{
        margin: 0 auto;
        width: 80%;
        h2{
            font-size: 3.5rem;
            color: #fff;
            padding: 5% 0;
        }
        form{
            .con1{
                div{
                    position: relative;
                    margin: 0 0 5%;
                    width: 33%;
                    display: inline-block;
                    label{
                        font-weight: 500;
                        color: #5b80b2;
                        position: absolute;
                        left: 2%; top: 1.5vh;
                    }
                    input{
                        border: none;
                        background: none;
                        border-width: 0 0 1px 0;
                        border-bottom: 1px solid #5b80b2;
                        padding: 4% 25%;
                        caret-color: #5b80b2;
                        color: #fff;
                    }
                }
            }
            .con2{
                width: 100%;
                textarea{
                    width: 94%; height: 10vh;
                    background: none;
                    border: 1px solid #5b80b2;
                    caret-color: #5b80b2;
                    border-radius: 5px;
                    padding: 1%;
                    resize: none;
                }
                textarea::placeholder{
                    color: #5b80b2;
                    font-weight: 500;
                }
            }
            .con3{
                label{
                    display: inline-block;
                    padding: 2% 0;
                    color: #fff;
                    .chk{
                        cursor: pointer;
                    }
                }
            }
            .con4{
                width: 100%;
                text-align: center;
                padding-bottom: 5%;
                a{
                    display: inline-block;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    padding: 1.5% 5%;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                }
                a:hover{
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }
    }
}

