//header 색 변경위해 사용
header{
    width: 100%;
    position: fixed;
    left: 0; top: 0;
    z-index: 999;
    transition: .8s;
    background-color: #fff;
    overflow: hidden;
    //header에 class active가 들어갔을 때(버거메뉴 클릭 시)
    &.active{
        background-color: #101010;
        z-index: 5;
        opacity: 1;
        .head{
            width: 95%;
            margin: 2% auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: .6s;
            transform: translateY(-200%);
            //head에 class show가 들어감(위에서 아래로 나타남)
            &.show{
                transform: translateY(0);
            }
            .logo{
                a{
                    .logo1{display: inline-block;}
                    .logo2{display: none;}
                }
            }
            .right_menu{
                color: #fff;
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .lang{
                    width: 50%;
                    margin-left: 0%;
                    a{
                        color: #fff;
                        display: inline-block;
                        font-size: 1.3rem;
                        border: 0.5px solid rgba(255, 255, 255, 0.76);
                        border-radius: 5px;
                        padding: 2% 5%;
                        cursor: pointer;
                        margin-right: 1%;
                        transition: .6s ease;
                        &:hover{
                            background-color: rgba(145, 145, 145, 0.5);
                        }
                    }
                }
                .burger{
                    width: 4%; height: 2.5vh;
                    position: relative;
                    cursor: pointer;
                    span{ 
                        display: inline-block;
                        background-color: #fff;
                        height: 2px;
                        position: absolute;
                        right: 0;
                        transition: .5s;
                    }
                    span:nth-of-type(1){top: 0; width: 100%;}
                    span:nth-of-type(2){top: calc(50% - 1px); width: 70%;}
                    span:nth-of-type(3){bottom: 0; width: 100%;}
    
                    &:hover span:nth-of-type(1){top: 0; width: 70%;}
                    &:hover span:nth-of-type(2){top: calc(50% - 1px); width: 100%;}
                    &:hover span:nth-of-type(3){bottom: 0; width: 70%;}
    
                    //span태그 클릭 
                    &.active{
                        span:nth-of-type(1){
                            top: calc(50% - 1px); width: 100%;
                            transform: rotate(45deg);
                        }
                        span:nth-of-type(2){display: none;}
                        span:nth-of-type(3){
                            top: calc(50% - 1px); width: 100%;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }

    //---------------원래 상태---------------------
    
    .head{
        .logo{
            a{
                .logo1{display: none;}
                .logo2{display: inline-block;}
            }
        }
        .right_menu{
            color: #000;
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .lang{
                width: 50%;
                margin-left: 0%;
                a{
                    color: #000;
                    display: inline-block;
                    font-size: 1.3rem;
                    border: 1px solid rgba(145, 145, 145, 0.452);
                    border-radius: 5px;
                    padding: 2% 5%;
                    cursor: pointer;
                    margin-right: 1%;
                }
            }
            .burger{
                width: 4%; height: 2.5vh;
                position: relative;
                cursor: pointer;
                span{ 
                    display: inline-block;
                    background-color: #000;
                    height: 2px;
                    position: absolute;
                    right: 0;
                    transition: .5s;
                }
            }
        }
    }
    .burger_menu{
        position: fixed;
        left: 0; top: 10%;
        width: 100%; height: 100vh;
        background-color: #101010;
        transition: .8s;
        transform: translateX(100vw);
        opacity: 0;
        .burger_sub{
            padding: 10% 5% 5%;
            width: 60%;
            margin: 0 auto;
            position: relative;
            a{
                color: #b2b2b2;
                text-decoration: none;
                h2{
                    font-size: 3rem;
                    transition: .5s;
                }
                h2:hover{color: #fff;}
                ul{
                    margin-top: 5%;
                    li{
                        font-size: 1.5rem;
                        cursor: pointer;
                        padding: 2% 0;
                        transition: .5s;
                    }
                    li:hover{
                        text-decoration: underline;
                        color: #fff;
                    }
                }
            }
            .menu_img{
                position: absolute;
                right: 0; top: 5%;
                img{width: 100%;}
            }
        }
    }
    .burger_menu.active{
        display: block;
        transform: translateX(0);
        opacity: 1;
    }
    
}
.items{
    margin: 11% auto;
    .items_title{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        h2{
            font-size: 2.5rem;
        }
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
            transition: 1.5s;
            li{
                font-size: 16px;
                color: #b1b1b1;
                position: relative;
                font-weight: 500;
                padding-right: 4%;
                a{
                    font-size: 16px;
                    color: #b1b1b1;
                    text-decoration: none;
                }
                &:nth-of-type(3){
                    color: #af0030;
                    font-weight: bold;
                }
            }
            li::after{
                content: '';
                display: block;
                width: 14px; height: 14px;
                background: url('../img/icon/loc_arrow.png') no-repeat;
                position: absolute;
                right: 7%; top: 25%;
            }
            li:nth-of-type(3)::after{display: none;}
        }
    }
    .items_con{
        width: 80%;
        margin: 2% auto;
        display: flex;
        
        align-items: flex-start;
        .items_menu{
            width: 17%;
            margin: 0;
            li{
                margin: 10% 0;
                cursor: pointer;
                a{
                    display: inline-block;
                    font-size: 1.2rem;
                    font-weight: bold;
                    transition: .5s;
                }
                &:nth-of-type(1){
                    background-color: #003e92;
                    padding: 5% 20% 5% 5%;
                    a{color: #fff;}
                }
                &:nth-of-type(2),&:nth-of-type(3){
                    a{font-size: 1.1rem;}
                    a:hover{color: #003e92;}
                }
            }
        }
        .items_right{
            margin: 0 0 0 2%;
            width: 80%;
            .items_search{
                width: 100%;
                form{
                    background-color: #f8f8f8;
                    padding: 5% 0;
                    width: 100%;
                    text-align: center;
                    .search_text{
                        width: 50%;
                        padding: 1% 10% 1% 1%;
                        border: 1px solid #e1e1e1;
                        outline-color: #af0030;
                    }
                    .search_text::placeholder{color: #999;}
                    .search_btn{
                        background-color: #e1e1e1;
                        border: 1px solid #e1e1e1;
                        border-radius: 4px;
                        padding: 1% 3.5%;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    
                }
            }
            .items_prd{
                box-sizing: border-box;
                margin-top: 5%;
                .items_list{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    .items_item{
                        width: 23%; height: 50vh;
                        border: 1px solid #e1e1e1;
                        transition: .4s;
                        margin: 0.5% 0.5% 5% 0.5%;
                        &:hover{
                            border-color: #af0030;
                        }
                        .imgBox{
                            width: 100%; height: 20vh;
                            img{width: 100%; height: 100%;}
                        }
                        p{
                            text-align: center;
                            strong{
                                font-size: 1.3rem;
                            }
                        }
                        .prd_text{
                            padding: 5% 8%;
                            li{
                                strong{
                                    display: inline-block;
                                    margin-top: 5%;
                                    font-size: 1.1rem;
                                }
                                p{text-align: left;}
                            }
                            li::after{
                                content: '';
                                display: block;
                                width: 100%; height: 1px;
                                background-color: #e1e1e1;
                            }
                            li:nth-of-type(2)::after{display: none;}
                        }
                    }
                }
            }
        }
    }
}